body {
    font-family: 'Jersey 10', sans-serif;
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}
.dark-mode {
    background-color: #143136;
    color: white;
    transition: 0.5s;
}
lamp-button {
    padding: 10px;
    display: block;
    color: black;
    text-align: center;
    position: fixed;
    top: 5px;
    right: 10px;
}
.image-hover {
    width: 28px;
    height: 28px;
    background-image: url(https://raw.githubusercontent.com/wyndchyme/wyndchyme.github.io/refs/heads/main/icons/lightlamp.png);
    background-size: cover;
    transition: background-image 0.2s
}
.image-hover:hover {
    background-image: url(https://raw.githubusercontent.com/wyndchyme/wyndchyme.github.io/refs/heads/main/icons/lightlamp2.png);
}
a:link {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    width: 100%;
    color: black;
}
@media (max-width: 450px) {
lamp-button {
    transform: translateY(75px);
}
}
