html {
    background: url("/images/background/moroccan-flower.png");
    background-repeat: repeat;
    background-attachment: fixed;
}
body {
    font-family: 'Jersey 10', serif;
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
}
wikibody {
    font-family: 'Mona Sans', sans-serif;
    font-size: 14pt;
    line-height: 1.4;
}
.dark-mode {
    background-color: #143136;
    color: white;
    transition: 0.5s;
}
lamp-button {
    padding: 10px;
    display: block;
    color: black;
    text-align: center;
    position: fixed;
    right: 5px;
}
code {
    font-size: 13pt;
}
.image-hover {
    width: 28px;
    height: 28px;
    background-image: url(/icons/lightlamp.png);
    background-size: cover;
    transition: background-image 0.2s
}
.image-hover:hover {
    background-image: url(/icons/lightlamp2.png);
}
a:link {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    width: 100%;
    color: black;
}
.responsive-menu {
    font-size: 2rem;
    text-align: center;
    background-color: #e4f7f7;
    color: skyblue;
  }

  .responsive-menu a img {
    position: relative;
    bottom: -1px;
    height: auto;
  }

  @media screen and (max-width: 320px) {
    .responsive-menu {
      font-size: 1.4rem;
    }

    .responsive-menu a img {
      width: 24px;
      height: 24px;
    }
}
@media (max-width: 450px) {
lamp-button {
    transform: translateY(47px);
}
}