html {
    background: url("/images/background/moroccan-flower.png");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
}
.dark-mode html {
  background: url(/images/background/moroccan-flower-dark.png) !important;
}
@font-face {
    font-family: 'Jersey 10';
    src: url(plugins/jersey/Jersey10-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 15';
    src: url(plugins/jersey/Jersey15-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 20';
    src: url(plugins/jersey/Jersey20-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 25';
    src: url(plugins/jersey/Jersey25-Regular.woff2);
}
gallerysubtitle {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery-cell {
    margin-right: 10px;
    background: skyblue;
    counter-increment: gallery-cell;
        width: 250px;
        height: 150px;
        margin-right: 10px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #fff;
  }
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
.flickity-page-dots .dot {
    width: 11px;
    height: 11px;
    opacity: 1;
    background: skyblue;
    transition: 0.5s;
    border-radius: 0;
  }
.flickity-page-dots .dot.dot.is-selected {
    background: teal;
    transition: 0.5s;
  }
.dark-mode .flickity-page-dots .dot {
    width: 11px;
    height: 11px;
    opacity: 1;
    background: skyblue;
    transition: 0.5s;
  }
.dark-mode .flickity-page-dots .dot.is-selected {
    background: white;
    transition: 0.5s;
  }
body {
    font-family: 'Jersey 20', sans-serif;
    background-color: white;
    color: #252525;
    transition: 0.5s;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}
.dark-mode {
    background-color: #142a38;
    color: white;
    transition: 0.5s;
}
h1 {
    color: #255263;
    font-weight: lighter;
    transition: 0.5s;
}
.dark-mode h1 {
    color: #dbf5ff;
    font-weight: lighter;
    transition: 0.5s;
}
.buttonbg {
transition: 0.5s;
}
.dark-mode .buttonbg {
    background-image: linear-gradient(#9bc2d1, #8fb9c9) !important;
    border: 2px #649cb3 solid !important;
    transition: 0.5s;
}
lamp-button {
    padding: 10px;
    display: block;
    color: black;
    text-align: center;
    position: fixed;
    right: 5px;
    z-index: 5;
}
code {
    font-size: 13pt;
}
.image-hover {
    width: 28px;
    height: 28px;
    background-image: url(/icons/lightlamp.png);
    background-size: cover;
    transition: background-image 0.2s
}
.image-hover:hover {
    background-image: url(/icons/lightlamp2.png);
}
a:link {
    color: rgb(83, 163, 195);
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s;
}
.dark-mode a:link {
  color: skyblue;
  transition: 0.5s;
}
a:visited {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}
.boing:hover {
    animation: squish 0.6s ease-in-out infinite;
    transition: 0.5s;
}
@keyframes squish {
    0%, 100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1.1, 0.9); /* Wider and shorter */
    }
    50% {
      transform: scale(0.9, 1.1); /* Taller and narrower */
    }
    75% {
      transform: scale(1.05, 0.95); /* Slightly wider and shorter */
    }
}
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
}
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    width: 100%;
    color: black;
}
.responsive-menu {
    font-size: 2rem;
    text-align: center;
    background-color: #e4f7f7;
    color: skyblue;
    transition: 0.5s;
  }

  .responsive-menu a img {
    position: relative;
    bottom: -1px;
    height: auto;
  }
.dark-mode .responsive-menu {
    background-color: #224559;
    transition: 0.5s;
}
  @media screen and (max-width: 320px) {
    .responsive-menu {
      font-size: 1.4rem;
    }

    .responsive-menu a img {
      width: 24px;
      height: 24px;
    }
}
@media (max-width: 450px) {
lamp-button {
    transform: translateY(47px);
}
body {
    font-size: 1.35rem;
}
}
