body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    overflow: hidden;
}
.grid {
    display: grid;
    position: relative;
}
.tile {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}