html {
    background: url("/images/background/moroccan-flower.png");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    animation: scrollBackground 150s linear infinite; 
    -webkit-touch-callout: none;
        -webkit-user-select: none;     
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; 
                touch-action: manipulation;
                height: 100%;
                overflow: hidden;
}
.dark-mode {
   background: url("/images/background/moroccan-flower-dark.png");
   animation: scrollBackground 150s linear infinite;
}
.dark-mode a {
    color: white;
 }
 .dark-mode .dtlabel {
    color: white;
 }
 .dark-mode .toolbar {
    background-color: #195770;
    z-index: 3;
 }
 .dark-mode .tbicon {
    border-top: 3px solid #195770;
    border-bottom: 3px solid #195770;
    background-color: skyblue;
 }
 .dark-mode .tbclock {
    border-top: 3px solid #195770;
    border-bottom: 3px solid #195770;
    background-color: skyblue;
 }
 .dark-mode .boing {
    color: white !important;
 }
 .dark-mode .dticon:hover {
    filter: drop-shadow(2px 2px 2px white);
    transition: 0.1s;
 }
 .dark-mode .header {
    background-color: #195770;
    border-color: #195770;
 }
 .dark-mode .draggable {
    border-color: #195770;
 }
 .dark-mode .close-btn {
    background-color: #195770;
    border-color: #195770;
 }
@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 1000%;
    }
}
html img {
    filter: drop-shadow(1px 1px 1px black);
}
@font-face {
    font-family: 'Jersey 10';
    src: url(/plugins/jersey/Jersey10-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 15';
    src: url(/plugins/jersey/Jersey15-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 20';
    src: url(/plugins/jersey/Jersey20-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 25';
    src: url(/plugins/jersey/Jersey25-Regular.woff2);
}
body {
    font-family: 'Jersey 10';
    color: #252525;
}
#top, #bottom, #left, #right {
	background: white;
	position: fixed;
    z-index: 99999;
    transition: 0.5s;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
.toolbar {
    position: absolute;
    bottom: 12px;
    padding-left: 16px;
    background-color: skyblue;
    left:0;
    right:1;
    z-index: 9999;
}
.tbicon {
background-color: #d4f1fc;
width: 40px;
height: 40px;
text-align: center;
position: relative;
border-top: 3px solid skyblue;
border-bottom: 3px solid skyblue;
display: inline-block;
border-radius: 5px;
}
.tbicon:hover {
    background-color: white;
}
.tbclock {
    background-color: #d4f1fc;
    width: 80px;
    height: 40px;
    text-align: center;
    position: absolute;
    border-top: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
    display: inline-block;
    right:18px;
    font-size: 16pt;
    align-content: center;
    padding-left: 3px;
    border-radius: 5px
}
.tbclock:hover {
    background-color: white;
    transition: 0.1s;
    cursor: help;
}
#diskDiv {
    display: block;
    z-index: 1;
    resize: both; 
    overflow: auto; 
    min-width: 190px; 
    min-height: 150px; 
    width: 300px; 
    height: 200px; 
    max-width: 75%;
    max-height: 75%;
}
.draggable {
    width: 300px;
    height: 200px;
    background: #f0f0f0;
    border: 1px solid skyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 5px
}
.header {
    height: 30px;
    background: skyblue;
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    cursor: move;
    user-select: none;
    border-radius: 5px 5px 0 0;
}
.close-btn {
    color: white;
    background-color: skyblue;
    border: 2px solid skyblue;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Jersey 10';
    position: absolute;
    right: 2px;
    padding-left: 7px;
    border-radius: 5px;
}
.close-btn:hover {
    color: teal;
    background-color: #d4f1fc;
}
.content {
    padding: 10px;
}
.version {
    position: absolute;
    top: -4px;
    right: 25px;
    color: white;
    font-size: 20pt;
}
@media screen and (max-width: 336px) {
    .tbicon {
        display: inline-flexbox;
    }
    .tbclock {
        display: none;
    }
    .draggable {
        width: 200px;
    }
    .version {
        font-size: 16pt;
    }
}
.dticon {
    position: relative;
    left: 25px;
    top: 25px;
    width: 64px;
    height: 64px;
}
.dticon img {
    width: 36px;
}
.dticon:hover {
    .dtcontainer {
        background-color: rgba(28, 28, 28, 0.15);
        transition: 0.1s;
    }
    cursor: pointer;
}
.dticon:hover img {
    animation: sway 3s linear infinite;
}
.tbicon:hover img {
    animation: sway 3s linear infinite;
}
@keyframes sway {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(2px) skew(1deg, 0deg);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-2px) skew(-1deg, 0deg);
    }
    100% {
        transform: translateY(0px);
    }
}
.dtcontainer {
    position: absolute;
    width: 64px;
    height: 62px;
    left: -11px;
    top: -5px;
    z-index: -1;
    transition: 0.1s;
    border-radius: 5px
}
.dtshortcut {
    position: absolute;
    left: 18;
    top: 18;
}
.dtshortcut img {
    width: 22px;
}
.dtlabel {
    font-size: 16pt;
    text-align: center;
    position: relative;
    left: -11px;
}
.dtcolumn {
    display: inline-block;
}
.boing:hover {
    animation: squish 0.6s ease-in-out infinite;
    transition: 0.5s;
}
@keyframes squish {
    0%, 100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1.1, 0.9); /* Wider and shorter */
    }
    50% {
      transform: scale(0.9, 1.1); /* Taller and narrower */
    }
    75% {
      transform: scale(1.05, 0.95); /* Slightly wider and shorter */
    }
}
button {
    cursor: pointer;
}
.dtbutton {
    width: 64px;
    height: 64px;
    position: relative;
    bottom: 64px;
    left: -11px;
    border: none;
    background-color: transparent;
}
a {
    color: #252525;
    text-decoration: none;
}
.content-box {
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 40px);
    box-sizing: border-box;
}
ul {
    position: relative;
    bottom: 15px;
    margin-bottom: -10px;
    list-style-type: none;
}
ul a:hover {
    text-decoration: underline;
}
details > summary {
    background: url('/wyndOS/icons/folder.png') no-repeat left center;
    padding-left: 20px;
    background-size: 20px 20px;
    cursor: pointer;
}
details[open] > summary {
    background: url('/wyndOS/icons/folderopen.png') no-repeat left center;
    padding-left: 20px;
    background-size: 20px 20px;
}
@media screen and (min-width: 1000px) {
    html {
        zoom: 115%;
    }
    .draggable {
        zoom: 85%;
        font-size: 105%;
    }
    .content-box {
        font-size: 17pt;
    }
    #aboutdiv p {
        font-size: 15pt;
    }
    ul {
        margin-top: 15px;
        margin-bottom: -10px;
    }
    #fileExplorer {
        details > summary {
            background-size: 26px 26px;
            text-indent: 5px;
        }
        details[open] > summary {
            background-size: 26px 26px;
            text-indent: 5px;
        }
       details > details > summary {
        text-indent: 22px !important;
       }
       details > details > details > summary {
        text-indent: 38px !important;
       }
       details > details > details > details > summary {
        text-indent: 54px !important;
       }
    }
}
@media screen and (max-height: 400px) {
    #Activate {
        display: none;
    }
}
#lampLow {
    display: none;
}
#lamp:hover {
#lampHigh {
    display: none;
}
#lampLow {
    display: block;
}
}
#aboutLinks a {
    color: #252525 !important;
}
#aboutLinks img {
    animation: sway 3s linear infinite;
}
#audioToggleBtn img {
display: none;
}
#audioOff {
    display: none;
}
.muted #audioToggleBtn img {
    display: block;
}
#audioLow {
    display: none;
}
#audio:hover {
#audioHigh {
    display: none;
}
#audioLow {
    display: block;
}
}
.muted {
    #audioHigh {
        display: none !important;
    }
    #audioLow {
        display: none !important;
    }
    #audioOff {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .dtcolumn {
        zoom: 110%;
    }
    .toolbar {
        zoom: 110%;
    }
    #top, #bottom, #left, #right {
        zoom: 110%;
    }
}