html {
    background: url("/images/background/moroccan-flower.png");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    animation: scrollBackground 150s linear infinite; 
    -webkit-touch-callout: none;
        -webkit-user-select: none;     
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; 
                touch-action: manipulation;
                height: 100%;
                overflow: hidden;
                background-position: fixed;
}
.dark-mode {
   background: url("/images/background/moroccan-flower-dark.png");
   animation: scrollBackground 150s linear infinite;
}
.dark-mode a {
    color: white;
 }
 .dark-mode .dtlabel {
    color: white;
 }
 .dark-mode .toolbar {
    background-color: #195770;
    background-image: linear-gradient(#195770, #044058);
    left:0;
    z-index: 3;
    border-top: 2px solid #044058 !important;
 }
 .dark-mode .tbicon {
    border-top: 3px solid #195770;
    border-bottom: 3px solid #267da0;
    background-color: skyblue;
 }
 .dark-mode .tbclock {
    border-top: 3px solid #195770;
    border-bottom: 3px solid #195770;
    background-color: skyblue;
 }
 .dark-mode .boing {
    color: white !important;
 }
 .dark-mode .dticon:hover {
    filter: drop-shadow(2px 2px 2px white);
    transition: 0.1s;
 }
 .dark-mode .header {
    background-color: #195770;
    border-color: #195770;
 }
 .dark-mode .draggable {
    border-color: #195770;
    background-image: 
    linear-gradient(#f0f0f0, #f0f0f0),
    linear-gradient(#195770, #195770);
 }
 .dark-mode .close-btn {
    background-color: #195770;
    border-color: #195770;
 }
@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 1000%;
    }
}
html img {
    filter: drop-shadow(1px 1px 1px black);
}
@font-face {
    font-family: 'Jersey 10';
    src: url(/plugins/jersey/Jersey10-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 15';
    src: url(/plugins/jersey/Jersey15-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 20';
    src: url(/plugins/jersey/Jersey20-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 25';
    src: url(/plugins/jersey/Jersey25-Regular.woff2);
}
body {
    font-family: 'Jersey 10';
    color: #252525;
}
#top, #bottom, #left, #right {
	background: white;
	position: fixed;
    z-index: 99999999999;
    transition: 0.5s;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
.toolbar {
    position: absolute;
    bottom: 12px;
    padding-left: 16px;
    background-image: linear-gradient(skyblue, rgb(110, 182, 211));
    left:0;
    right:1;
    z-index: 9999;
    border-top: 2px solid rgb(110, 182, 211);
}
.tbicon {
background-color: #e1f6ff;
width: 40px;
height: 40px;
text-align: center;
position: relative;
border-top: 3px solid skyblue;
border-bottom: 3px solid rgb(95, 140, 162);
display: inline-block;
border-radius: 5px 5px 0 0;
margin-right: 5px;
}
.tbicon:hover {
    background-color: white;
}
.tbclock {
    background-color: #d4f1fc;
    width: 80px;
    height: 40px;
    text-align: center;
    position: absolute;
    border-top: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
    display: inline-block;
    right:18px;
    font-size: 16pt;
    align-content: center;
    padding-left: 3px;
    border-radius: 5px
}
.tbclock:hover {
    background-color: white;
    transition: 0.1s;
    cursor: help;
}
#diskDiv {
    display: block;
    z-index: 1;
    resize: both; 
    overflow: auto; 
    min-width: 190px; 
    min-height: 150px; 
    width: 300px; 
    height: 200px; 
    max-width: 75%;
    max-height: 75%;
}
.draggable {
    background-repeat:no-repeat; 
    width: 300px;
    height: 200px;
    background: #f0f0f0;
    background-image: 
    linear-gradient(skyblue, skyblue),
    linear-gradient(#f0f0f0, #f0f0f0)
    border: 1px solid skyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 5px;
}
.header {
    height: 30px;
    background: skyblue;
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    cursor: move;
    user-select: none;
    border-radius: 5px 5px 0 0;
}
.close-btn {
    color: white;
    background-color: skyblue;
    border: 2px solid skyblue;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Jersey 10';
    width: 25px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 2px;
    text-align: center !important;
    vertical-align: middle;
    margin: 0 !important;
}
.close-btn:hover {
    color: teal;
    background-color: #d4f1fc;
}
.content {
    padding: 10px;
}
.version {
    position: absolute;
    top: -4px;
    right: 25px;
    color: white;
    font-size: 20pt;
}
@media screen and (max-width: 336px) {
    .tbicon {
        display: inline-flexbox;
    }
    .tbclock {
        display: none;
    }
    .draggable {
        width: 200px;
    }
    .version {
        font-size: 16pt;
    }
}
.dticon {
    position: relative;
    left: 25px;
    top: 25px;
    width: 64px;
    height: 64px;
}
.dticon img {
    width: 36px;
}
.dticon:hover {
    .dtcontainer {
        background-color: rgba(28, 28, 28, 0.15);
        transition: 0.1s;
    }
    cursor: pointer;
}
.dticon:hover img {
    animation: sway 3s linear infinite;
}
.tbicon:hover img {
    animation: subtlesway 4s linear infinite;
}
@keyframes sway {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(2px) skew(1deg, 0deg);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-2px) skew(-1deg, 0deg);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes subtlesway {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0px);
    }
}
.dtcontainer {
    position: absolute;
    width: 64px;
    height: 62px;
    left: -11px;
    top: -5px;
    z-index: -1;
    transition: 0.1s;
    border-radius: 5px
}
.dtshortcut {
    position: absolute;
    left: 18;
    top: 18;
}
.dtshortcut img {
    width: 22px;
}
.dtlabel {
    font-size: 16pt;
    text-align: center;
    position: relative;
    left: -11px;
}
.dtcolumn {
    display: inline-block;
}
.boing:hover {
    animation: squish 0.6s ease-in-out infinite;
    transition: 0.5s;
}
@keyframes squish {
    0%, 100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1.1, 0.9); /* Wider and shorter */
    }
    50% {
      transform: scale(0.9, 1.1); /* Taller and narrower */
    }
    75% {
      transform: scale(1.05, 0.95); /* Slightly wider and shorter */
    }
}
button {
    cursor: pointer;
}
.dtbutton {
    width: 64px;
    height: 64px;
    position: relative;
    bottom: 64px;
    left: -11px;
    border: none;
    background-color: transparent;
}
a {
    color: #252525;
    text-decoration: none;
}
.content-box {
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 40px);
    box-sizing: border-box;
    white-space: nowrap;
}
ul {
    position: relative;
    bottom: 15px;
    margin-bottom: -10px;
    list-style-type: none;
}
ul a:hover {
    text-decoration: underline;
}
details > summary {
    background: url('/wyndOS/icons/folder.png') no-repeat left center;
    padding-left: 20px;
    background-size: 20px 20px;
    cursor: pointer;
}
details[open] > summary {
    background: url('/wyndOS/icons/folderopen.png') no-repeat left center;
    padding-left: 20px;
    background-size: 20px 20px;
}
@media screen and (min-width: 1000px) {
    .dtcolumn {
        zoom: 115%;
    }
    .toolbar {
        zoom: 115%;
    }
    #top, #bottom, #left, #right {
        zoom: 115%;
    }
    #startMenu {
        zoom: 115%;
        margin-bottom: 1px;
        height: 285px !important;
    }
    #startContent {
        height: 225px !important;
    }
    #startContentRight {
        height: 225px !important;
        bottom: 225px !important;
    }
    #powerOffButton img {
        top: -5px !important;
    }
    .draggable {
        font-size: 105%;
    }
    #Activate {
        zoom: 115%;
    }
    .content-box {
        font-size: 17pt;
    }
    #aboutdiv p {
        font-size: 15pt;
    }
    #aboutdiv {
        height: 225px !important;
        width: 350px !important;
    }
    ul {
        margin-top: 15px;
        margin-bottom: -10px;
    }
    #fileExplorer {
        details > summary {
            background-size: 26px 26px;
            text-indent: 5px;
        }
        details[open] > summary {
            background-size: 26px 26px;
            text-indent: 5px;
        }
       details > details > summary {
        text-indent: 22px !important;
       }
       details > details > details > summary {
        text-indent: 38px !important;
       }
       details > details > details > details > summary {
        text-indent: 54px !important;
       }
    }
    .tab {
        font-size: 16pt !important;
    }
    .tabbed {
        font-size: 14pt !important;
    }
    .questBody {
        position: relative;
        bottom: 6px;
    }
    .questLauncherButton {
        font-size: 15pt !important;
    }
    #questContent {
        height:calc(100% + 100px) !important;
    }
    #qstDiv {
        width: 350px !important;
    }
    #tab1 {
        width: 85px !important;
    }
    #tab2 {
        width: 70px !important;
    }
    #tab3 {
        width: 68px !important;
    }
    #tab4 {
        width: 58px !important;
    }
    #diskDiv {
        width: 500px;
        height: 350px;
        padding-bottom: 20px !important;
    }
    #diskLocation {
        font-size: 15pt !important;
    }
    #diskLocation img {
        width: 15px !important;
    }
    #powerOffButton {
        margin-top: 1px;
    }
    #restartLabel {
        bottom: 4px !important;
    }
}
@media screen and (max-height: 550px) {
    #Activate {
        display: none;
    }
}
#lampLow {
    display: none;
}
#lamp:hover {
#lampHigh {
    display: none;
}
#lampLow {
    display: block;
}
}
#aboutLinks a {
    color: #252525 !important;
}
#aboutLinks img {
    animation: sway 3s linear infinite;
}
#audioToggleBtn img {
display: none;
}
#audioOff {
    display: none;
}
.muted #audioToggleBtn img {
    display: block;
}
#audioLow {
    display: none;
}
#audio:hover {
#audioHigh {
    display: none;
}
#audioLow {
    display: block;
}
}
.muted {
    #audioHigh {
        display: none !important;
    }
    #audioLow {
        display: none !important;
    }
    #audioOff {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .dtcolumn {
        zoom: 127%;
    }
    .toolbar {
        zoom: 125%;
    }
    #top, #bottom, #left, #right {
        zoom: 127%;
    }
    #Activate {
        zoom: 115%;
    }
    #qstDiv {
        width: 500px !important;
        height: 250px !important;
    }
    #startMenu {
        zoom: 125%;
        margin-bottom: 3px;
        margin-left: 2px;
        height: 310px !important;
    }
    #startContent {
        height: 250px !important;
    }
    #startContentRight {
        height: 250px !important;
        bottom: 250px !important;
    }
    #powerOffButton {
        margin-top: 1px;
    }
}
.tabbed {
    color: #252525;
    font-family: 'Jersey 10';
    font-size: 12pt;
    border: transparent;
    border-radius: 2px 2px 0 0;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 25px;
}
.tabbed:hover {
    background-color: #c9c9c9;
}
.tabbed.active {
    background-color: #696969;
    color: white;
}
.tab.active {
    display: block;
}
.questLauncherButton {
    color: #252525;
    font-family: 'Jersey 10';
    font-size: 13pt;
    border: none;
    border-radius: 2px;
}
#questLaunch {
    background-color: grey;
    color: rgb(203, 203, 203);
    cursor: not-allowed;
}
#qstDiv {
    box-shadow: none !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
#questContent {
    height: calc(100% + 20px) !important;
}
@media screen and (max-width: 400px) {
    #qstDiv {
        width: 275px !important;
    }
    .tabbed {
        font-size: 11pt !important;
    }
#tab1 {
    width: 64px !important;
}
#tab2 {
    width: 53px !important;
}
#tab3 {
    width: 50px !important;
}
#tab4 {
    width: 40px !important;
}
}
.wait-cursor * {
    cursor: wait !important;
}
#locationDiv a {
color: white;
}
#locationDiv a:hover {
    color: rgb(214, 222, 226);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.show {
    display: block;
    animation: fadeIn 0.3s ease forwards;
}
.draggable[style*="display: block"] {
    animation: fadeIn 0.3s ease forwards;
}
@supports (-moz-appearance: none) {
    #wiiIcon {
      margin-top: 4px; 
    }
    #wiiContainer {
        margin-top: 4px;
    }
    #wiiShortcut {
        position: relative;
        top: 3px !important;
    }
    #dsIcon {
        margin-top: 4px;
    }
    #dsContainer {
        margin-top: 4px;
    }
    #dsShortcut {
        position: relative;
        top: 3px !important;
    }
    #homeIcon {
        position: relative;
        top: 5px !important;
    }
    #homeShortcut {
        position: relative;
        top: 4px !important;
    }
    #homeContainer {
        margin-top: 4px;
    }
    #diskDiv {
        padding-bottom: 28px !important;
    }
    .toolbar {
        margin-bottom: 1px;
    }
    #startButton {
        margin-left: 2px;
    }
    #powerOffButton {
        margin-left: 2px;
    }
  }
  #aboutDiv img {
    image-rendering: auto;
  }
  .hidden {
    display: none;
}
#startMenu {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 200px;
    background-image: linear-gradient(skyblue, rgb(110, 182, 211));
    border: 2px solid rgb(110, 182, 211);
    padding: 2px;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}
.dark-mode #startMenu {
    background-image: linear-gradient(#195770, #044058) !important;
    border: 2px solid #044058 !important;
}
#startMenu[style*="display: block"] {
    animation: fadeIn 0.3s ease forwards;
}
.dark-mode #startMenu {
    background: skyblue;
    border: 2px solid skyblue;
}
#startContent {
    font-size: 13pt;
    margin-left: -2px;
}
#startContent img {
    width: 20px;
}
#startContentRight {
    font-size: 13pt;
    margin-left: -2px;
}
#startContentRight img {
    width: 20px;
}
.dark-mode #startContentRight {
background: #6ca1b3 !important;
}
.startLabels {
position: relative;
bottom: 3px;
left: 5px;
}
#powerOffButton:hover {
    transform: scale(1.05);
}
.startMenuButton {
    position: absolute;
    left: -2px;
    margin-bottom: 1px;
    height: 24px;
    background: none;
    width: 91px;
    border-radius: 5px;
    border: none;
}
.startImage:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.toolbar-icon {
    background-image: linear-gradient(rgb(191, 239, 255), rgb(138, 199, 225));
        width: 40px;
        height: 40px;
        text-align: center;
        position: relative;
        border-top: 3px solid skyblue;
        border-bottom: 3px solid rgb(93, 149, 173);
        display: none;
        border-radius: 5px 5px 0 0;
        top: 1px;
        margin-left: 5px;
        cursor: pointer;
        margin-bottom: 2px;
        left: 2px;
}
.dark-mode .toolbar-icon {
    border-top: 3px solid #195770;
    border-bottom: 3px solid #267da0;
    background-image: linear-gradient(rgb(206, 238, 249), rgb(136, 182, 201));
 }
.toolbar-icon img {
    width: 28px;
    position: relative;
    margin-top: 13%;
    right: 1px;
}
.toolbar-icon:hover {
    background-image: linear-gradient(white, rgb(211, 242, 255));
}
.desktop-safari {
    .toolbar-icon {
        margin-top: -1px;
    }
}
.safari-mobile {
    .tbicon {
        margin-right: 5px;
    }
    .toolbar-icon {
        margin-bottom: 2px;
        position: relative;
        left: 7px;
    }
}
.toolbar-icon button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}
.toolbar-icon button img {
    margin-bottom: 5px;
}