html {
    background: url("/images/background/moroccan-flower.png");
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Jersey 10';
    src: url(/plugins/jersey/Jersey10-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 15';
    src: url(/plugins/jersey/Jersey15-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 20';
    src: url(/plugins/jersey/Jersey20-Regular.woff2);
}
@font-face {
    font-family: 'Jersey 25';
    src: url(/plugins/jersey/Jersey25-Regular.woff2);
}
body {
    font-family: 'Jersey 10';
    color: #252525;
}
#top, #bottom, #left, #right {
	background: white;
	position: fixed;
    z-index: 1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
.toolbar {
    position: absolute;
    bottom: 15px;
    padding-left: 15px;
    background-color: skyblue;
    left:0;
    right:0;
}
.tbicon {
background-color: #d4f1fc;
width: 40px;
height: 40px;
text-align: center;
position: relative;
border-top: 3px solid skyblue;
border-bottom: 3px solid skyblue;
display: inline-block;
transition: 0.1s;
}
.tbicon:hover {
    background-color: white;
    transition: 0.1s;
}
.tbclock {
    background-color: #d4f1fc;
    width: 80px;
    height: 40px;
    text-align: center;
    position: absolute;
    border-top: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
    display: inline-block;
    right:18px;
    font-size: 16pt;
    align-content: center;
    transition: 0.1s;
    padding-left: 3px;
}
.tbclock:hover {
    background-color: white;
    transition: 0.1s;
}
.draggable {
    width: 300px;
    height: 200px;
    background: #f0f0f0;
    border: 1px solid skyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: 50px;
}
.header {
    height: 30px;
    background: skyblue;
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    cursor: move;
    user-select: none;
}
.close-btn {
    color: white;
    background-color: skyblue;
    border: 2px solid skyblue;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Jersey 10';
    position: absolute;
    right: 2px;
    padding-left: 7px;
    transition: 0.1s;
}
.close-btn:hover {
    color: teal;
    background-color: #d4f1fc;
    transition: 0.1s;
}
.content {
    padding: 10px;
}