/* SITE CSS */
body {
    background: url("/images/background/moroccan-flower-brown.png");
    animation: scrollBackground 150s linear infinite;
    background-size: 600px;
}
@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 1000%;
    }
}
canvas {
    background-color: white;
    width: 100%;
    height: 100%;
}
.windowContainer {
    position: absolute;
    left: calc(50vw - 400px);
    top: calc(50vh - 300px);
    width: 800px;
}
@media (max-width: 800px) {
    .windowContainer {
        width: 100% !important;
        height: auto;
        left: 0;
        top: calc(50vh - 300px);
    }
    .windowBorder {
        image-rendering: auto;
    }
}
@font-face {
    font-family: 'ashPixel';
    src: url(/wyndOS/games/wyndQST/assets/font/ashlander-pixel.otf.woff2/ashlander-pixel.otf.woff2);
}
@font-face {
    font-family: 'Jersey 10';
    src: url(/plugins/jersey/Jersey10-Regular.woff2);
}
.windowBorder {
    position: absolute;
    left: calc(-1/8 * 100%);
    top: calc(-1/6 * 102%);
    width: calc(5/4 * 100%);
    height: calc(4/3 * 100%);
    pointer-events: none;
    filter: drop-shadow(0px 0px 2vw black);
    image-rendering: pixelated;
    outline: 5px solid rgb(174, 167, 132);
    outline-style: ridge;
}
.crt {
    position: relative;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 99;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.10626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.10626;
    }
    30% {
        opacity: 0.18128;
    }
    35% {
        opacity: 0.23604;
    }
}
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    inset: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 98;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}
/* TEXT DIV SETUP */
.text {
    font-family: 'ashPixel', monospace;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;   
}

/* BEGIN LANG CSS */
/* Classes below are called in the language files and represent the game's user interface. */

/* COPYRIGHT:COPYRIGHT */
.copyright-flex {
    width: 94%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 3%;
    image-rendering: pixelated;
}
.copyright-text {
    font-family: 'Jersey 10';
    text-align: center;
    margin: 1.5%;
    color: #cfcfcf;
}

/* INITIAL:TITLE */
.initial-title-container {
    line-height: 1;
    width: 54%;
    background: url('/wyndOS/games/wyndQST/assets/scene/initial/menuBg.png');
    background-size: 100%;
    height: 100%;
    filter: drop-shadow(0.15em 0em 0.025em rgba(0, 0, 0, 0.5));
    text-shadow: -0.02em -0.02em 0 #000, 0.02em -0.02em 0 #000, -0.02em 0.02em 0 #000, 0.02em 0.02em 0 #000;
}
.initial-title-inner {
    position: relative;
    top: 3.6em;
    left: 0.5em;
    filter: drop-shadow(0px 0.075em 0.01em black);
}
.initial-title-img {
    position: absolute;
    z-index: -1;
    width: 2.5em;
    top: -0.5em;
    opacity: 0.5;
    filter: sepia(0.8);
}
.initial-title-underline {
    text-decoration: underline;
}
.initial-title-sub {
    text-decoration: none;
}
.initial-title-copyright {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    text-align: right;
    font-family: 'Jersey 10';
}

/* INITIAL:MENU */
.initial-menu {
    line-height: 0em;
    color: rgba(36, 25, 36, 0.7);
    position: absolute;
    left: 0;
    top: 13.8em;
    left: 1em;
}
.initial-menu .menuItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.1em;
    padding-right: 1em;
    filter: drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.6));
    border-radius: 0.1em;
}
.bulletable {
    filter: sepia(0.9);
    opacity: 0.2;
    width: 1.8em;
    image-rendering: auto;
}
.initial-menu .menuItem:hover {
    .bulletable {
        opacity: 0.9;
        filter: sepia(0.2) brightness(0.65);
        transition: 0.1s;
    }
    cursor: pointer;
    background-color: rgba(43, 53, 109, 0.25);
    transition: 0.1s;
    color: white;
}
.initial-menu .menuItem:active {
    background-color: rgba(41, 60, 167, 0.5);
}
.version {
    color: rgba(36, 25, 36, 0.7) !important;
    position: absolute;
    left: 15em;
    bottom: 0;
}
.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.menuFrame {
    position: absolute;
    width: 90%;
    height: 90%;
    background: url("/wyndOS/games/wyndQST/assets/scene/initial/popUpMenu/moroccan-flower-black.png");
    background-size: 50%;
    filter: hue-rotate(-20deg) drop-shadow(0 0.4em 0.15em rgba(0, 0, 0, 0.5));
    left: 5%;
    top: 5%;
    z-index: 1;
    box-sizing: border-box;
    border: 0.4em solid rgb(174, 167, 132);
    border-style: double;
    outline: 0.2em solid rgb(75, 49, 32);
    display: flex;
    align-items: top;
    justify-content: center;
    color: rgb(255, 235, 179);
}
.menuHeader {
    filter: drop-shadow(0 0.1em rgba(255, 255, 255, 0.25));
}
.closeButton {
    position: absolute;
    top: 0.4em;
    right: 0.5em;
    width: 1.25em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.15em;
    padding-left: 0.05em;
    border-radius: 0.1em;
}
.closeButton:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    filter: drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.616));
}
.closeButton:active {
    background-color: rgb(255, 0, 0);
}
.popUpMenu {
    position: absolute;
    width: 80%;
    height: 75%;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: 0.2em solid rgb(67, 47, 34);
    z-index: 1;
    left: 10%;
    top: 13%;
}
.tabs {
    width: 100%;
}
.tab-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 0.2em;
    margin: 0.2em;
}
.tab-buttons button {
    all: unset;
    padding: 0.2em;
    cursor: pointer;
    font-family: 'AshPixel';
    text-align: center;
    height: 1em;
    padding-bottom: 0.5em;
    border: 0.15em solid rgba(225, 183, 127, 0.5);
    color: rgb(255, 253, 241);
}
.tab-buttons button:active {
    color: rgb(149, 149, 255);
}
.tabHeader {
    position: relative;
    bottom: 0.2em;
}
.tab-buttons button:hover {
    text-decoration: underline;
}
.tab-buttons button.active {
    background-color: #333;
    color: rgb(149, 149, 255);
}
.tab-content .tab {
    display: none;
    margin: 0.5em;
    overflow-y: scroll;
}
.tab-content .tab.active {
    display: block;
}
.checkbox {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.2em;
  width: fit-content;
}
.checkbox:hover {
    cursor: pointer;
    img {
        filter: brightness(1.25);
    }
}
.checkbox img {
    width: 2em;
}
.checkbox label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
